.logo {
  background-image: url("../img/logo.jpg");
  background-size: 100px;
  background-repeat: no-repeat;
  padding-left: 100px;
}

.bg-black {
  background-color: black !important;
}

.twitter {
  height: 20pt;
  width: 20pt;;
}

body {
  min-height: 75rem;
  padding-top: 4.5rem;
}
