<!doctype html>
<html lang="en" ng-app="WYWMApp">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/all.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/watchingyouwatchingme.css?20200304-01">

    <title>Watching you... watching me...</title>
  </head>
  <body ng-controller="WYWMController">

      <nav class="navbar navbar-expand-md navbar-dark bg-black mb-4 logo fixed-top" id="wywmnavbar">
          <span class="navbar-brand" href="#"></span>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/"><i>Watching you... watching me...</i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/influencers"><i>Influencers</i></a>
              </li>
            </ul>
          </div>
        </nav>
    
        <main role="main" class="container" id="wywmmain">
          <div class="row align-items-center">
            <div class="col-12">

                <h4>We use cookies</h4><br />
                <p><strong>What are cookies?</strong></p>
                <p>
                    Cookies are simple text files that are stored on your computer or mobile device by a website’s server. 
                    Each cookie is unique to your web browser. It will contain some anonymous information such as a unique 
                    identifier, website’s domain name, and some digits and numbers.
                </p>
                <p><strong>What types of cookies do we use?</strong></p>
                <p><em>Necessary cookies</em></p>
                <p>
                    Necessary cookies allow us to offer you the best possible experience when accessing and navigating 
                    through our website and using its features. For example, these cookies let us recognize that you have 
                    created an account and have logged into that account to access the content.
                </p>
                <p><em>Functionality cookies</em></p>
                <p>
                    Functionality cookies let us operate the site in accordance with the choices you make. For example, 
                    we will recognize your username and remember how you customized the site during future visits.
                </p>
                <p><em>Third party cookies</em></p>
                <p>
                    These cookies enable us and third-party services to collect aggregated data for statistical purposes 
                    on how our visitors use the website. These cookies do not contain personal information such as names 
                    and email addresses and are used to help us improve your user experience of the website.
                </p>
                <p>
                    We use Twitter on our web site, therefore Twitter migh place cookies on your computer or mobile device. 
                </p>
                <p><strong>How to delete cookies?</strong></p>
                <p>
                    If you want to restrict or block the cookies that are set by our website, you can do so through your 
                    browser setting. Alternatively, you can visit <a href="https://www.internetcookies.org" target="_blank">
                        www.internetcookies.org</a>, which contains comprehensive information on how to do this on a wide 
                        variety of browsers and devices. You will find general information about cookies and details on how 
                        to delete cookies from your device.
                </p>
                <p><strong>Contacting us</strong></p>
                <p>If you have any questions about this cookie policy or our use of cookies, please contact us.</p>

            </div>
          </div>
        </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

    </body>
</html>