<!doctype html>
<html lang="en" ng-app="WYWMApp">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/all.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/watchingyouwatchingme.css?20200407-01">

    <title>Watching you... watching me...</title>
  </head>
  <body ng-controller="WYWMController">

      <nav class="navbar navbar-expand-md navbar-dark bg-black mb-4 logo fixed-top" id="wywmnavbar">
          <span class="navbar-brand" href="#"></span>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/"><i>Watching you... watching me...</i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/influencers"><i>Influencers</i></a>
              </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0" role="form" method="GET" enctype="multipart/form-data" action="">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="screenname" ng-show="userinfo.searchenabled" />
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" ng-show="userinfo.searchenabled">Search</button>
              <img class="ml-3 rounded-circle" ng-src="{{ '{{userprofileimage}}' }}" height="34px" width="34px"/>
              <label class="text-white">{{ '{{userinfo.name}}' }}</label>
            </form>
          </div>
        </nav>
    
        <main role="main" class="container" id="wywmmain">
          <div class="jumbotron" ng-hide="loggedin">
            <h1>MICS Capstone Project (NN, AS, SA, JM)</h1>
            <p class="lead">
                <p>This is a privacy tool you can use to see for yourself how AI and machine learning could view your twitter interactions. 
                  Due to the upcoming political elections we chose political tendency as the subject to analyze, however, our method 
                  could also be applied to other potentially sensitive subjects.  
                </p><p>Knowledge is power and with this tool you have the power to be informed how your existing and future twitter actions could impact our algorithm's perception of you.</p>
                <p>Our method:</p>
                <ul>
                  <li>Apply pagerank algorithm to influential politicians on twitter</li>
                  <li>Calculate a political tendency score for your interactions with these politicians on twitter</li>
                  <li>Predict your political affiliation based on that political tendency score </li>
                </ul>
                <p>Please, log in using your twitter account to our web site and we will calculate your score.<br />
                 By logging in to our website you agree to our <a href="/cookies" target="_blank">Cookie Policy</a>.
                </p>
            </p>

            <a class="btn btn-lg btn-primary" href="login" role="button">
              <span>
              <svg xmlns="http://www.w3.org/2000/svg" class="twitter" viewBox="0 0 512 416.32" role="img" focusable="false"><title>Twitter</title><path fill="currentColor" d="M160.83 416.32c193.2 0 298.92-160.22 298.92-298.92 0-4.51 0-9-.2-13.52A214 214 0 0 0 512 49.38a212.93 212.93 0 0 1-60.44 16.6 105.7 105.7 0 0 0 46.3-58.19 209 209 0 0 1-66.79 25.37 105.09 105.09 0 0 0-181.73 71.91 116.12 116.12 0 0 0 2.66 24c-87.28-4.3-164.73-46.3-216.56-109.82A105.48 105.48 0 0 0 68 159.6a106.27 106.27 0 0 1-47.53-13.11v1.43a105.28 105.28 0 0 0 84.21 103.06 105.67 105.67 0 0 1-47.33 1.84 105.06 105.06 0 0 0 98.14 72.94A210.72 210.72 0 0 1 25 370.84a202.17 202.17 0 0 1-25-1.43 298.85 298.85 0 0 0 160.83 46.92"></path></svg>

              Sign in with Twitter &raquo;
            </span>
            </a>
          </div>

          <div class="row align-items-center" ng-show="loggedin">

            <div class="col-12">
              <div class="row align-items-center p-3">
                <div class="col-1"></div>
                <div class="col-2"><img src="static/img/democrat.png" alt="Democrat" class="img-thumbnail"></div>
                <div class="col-6">


                  <div class="text-center" ng-show="!loggedin || !usertweets || !userfriends || !userlikes">

                      <div class="d-flex flex-column align-items-center justify-content-center text-primary">
                          <div class="row">
                              <strong>Please wait while we are collecting the data...</strong>
                            </div>
                           <div class="row">
                              <div class="spinner-border" role="status">
                                  <span class="sr-only">Loading...</span>
                              </div>
                           </div>
                       </div>
                  </div>

                  <div ng-show="loggedin && usertweets && userfriends && userlikes">
                    <div class="text-center" ng-show="republcan_score < democrat_score">Based on your activity on Twitter you are <div class="text-primary">Democrat for {{ '{{ democrat_score * 100 / (republcan_score + democrat_score) | number:0 }}%' }}</div></div>
                    <div class="text-center" ng-show="republcan_score > democrat_score">Based on your activity on Twitter you are <div class="text-danger">Republican for {{ '{{ republcan_score * 100 / (republcan_score + democrat_score) | number:0 }}%' }}</div></div>
                    <div class="text-center" ng-show="republcan_score == democrat_score">Based on your activity on Twitter we were not able to identify your political affiliation.</div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: {{ '{{ democrat_score * 100 / (republcan_score + democrat_score) | number:0 }}%' }}" aria-valuenow="{{ '{{ democrat_score * 100 / (republcan_score + democrat_score) | number:0 }}' }}" aria-valuemin="0" aria-valuemax="100"></div>
                      <div class="progress-bar bg-danger" role="progressbar" style="width: {{ '{{ republcan_score * 100 / (republcan_score + democrat_score) | number:0 }}%' }}" aria-valuenow="{{ '{{ republcan_score * 100 / (republcan_score + democrat_score) | number:0 }}' }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>                  
                  </div>
                </div>
                <div class="col-2"><img src="static/img/republican.png" alt="Republican" class="img-thumbnail"></div>
                <div class="col-1"></div>
              </div>

              <div class="row align-items-center m-3" ng-show="loggedin && usertweets && userfriends && userlikes">
                <div class="col-3"></div>
                <div class="col-6 p-3"><canvas id="myChart" height="180"></canvas></div>
                <div class="col-3"></div>
              </div>
            </div>

            <div class="row" ng-show="usertweets">
              <div class="col-6">
                <table class="table table-sm table-borderless">
                <thead>
                  <tr class="table-info">
                    <th>
                      <div class="row">
                        <div class="col-sm-8">
                          Tweets
                        </div>
                        <div class="col-sm-4 text-right">
                          Polit
                          <label class="switch" id="tweets">
                            <input type="checkbox" ng-model="alltweets" ng-checked="alltweets"> 
                            <span class="slider round"></span>
                          </label>
                          All
                        </div>
                      </div>                      
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="tweet in usertweets" ng-if="alltweets || tweet.is_political" ng-class="{'text-muted': (!tweet.status)}" ng-style="(!tweet.status) && {'text-decoration':'line-through'}">
                    <td>
                      <div class="media mt-4">
                      <img ng-src="{{ '{{tweet.user.profile_image_url_https}}' }}" class="align-self-start mr-3 rounded-circle" alt="{{ '{{tweet.user.name}}' }}">

                      <div class="media-body" ng-class="{'alert': tweet.is_political, 'alert-warning': tweet.is_political}">
                        <h6 class="mt-0">
                          <a href="" class="btn btn-white p-0" ng-click="togglestatus(tweet)">
                            <i class="fas" ng-class="{'fa-toggle-off': (!tweet.status), 'fa-toggle-on': (tweet.status)}"></i>
                          </a>
    
                          <b>{{ '{{tweet.user.name}}' }}</b> 
                          <a href="https://twitter.com/{{ '{{tweet.user.screen_name}}' }}/status/{{ '{{tweet.id_str}}' }}">@{{ '{{tweet.user.screen_name}}' }}</a>
                          <span>{{ '{{tweet.created_at}}' }}</span>
                          <span class="badge badge-danger" ng-show="tweet.is_political && tweet.pt == 1">{{ '{{tweet.sname}}' }} (Rep)</span>
                          <span class="badge badge-primary" ng-show="tweet.is_political && tweet.pt == -1">{{ '{{tweet.sname}}' }} (Dem)</span>
                          <b>
                            <span class="badge badge-secondary">
                                <span ng-show="tweet.mnb_sentiment == 1"><i class="fas fa-thumbs-up"></i> Positive</span>
                                <span ng-show="tweet.mnb_sentiment == 0">Neutral</span>
                                <span ng-show="tweet.mnb_sentiment == -1"><i class="fas fa-thumbs-down"></i> Negative</span>                                
                                {{ '{{tweet.mnb_score}}' }}%</span>
                          </b>
                        </h6>
                        <p>{{ '{{tweet.text}}' }}</p>

                        <div class="media mt-2" ng-if="tweet.retweeted_status">
                          <a class="pr-3" href="#">
                            <img ng-src="{{ '{{tweet.retweeted_status.user.profile_image_url_https}}' }}" class="align-self-start mr-3 rounded-circle" alt="{{ '{{tweet.retweeted_status.user.name}}' }}">
                          </a>
                          <div class="media-body">
                            <h7 class="mt-0">
                              <b>{{ '{{tweet.retweeted_status.user.name}}' }}</b> 
                              <a href="https://twitter.com/{{ '{{tweet.retweeted_status.user.screen_name}}' }}">@{{ '{{tweet.retweeted_status.user.screen_name}}' }}</a>
                              <span class="text-right">{{ '{{tweet.retweeted_status.created_at}}' }}</span>                    
                            </h5>
                            <p >{{ '{{tweet.retweeted_status.text}}' }}</p>
                          </div>
                        </div>

                        <div class="media mt-2" ng-if="tweet.quoted_status">
                          <a class="pr-3" href="#">
                            <img ng-src="{{ '{{tweet.quoted_status.user.profile_image_url_https}}' }}" class="align-self-start mr-3 rounded-circle" alt="{{ '{{tweet.quoted_status.user.name}}' }}">
                          </a>
                          <div class="media-body">
                            <h7 class="mt-0">
                              <b>{{ '{{tweet.quoted_status.user.name}}' }}</b> 
                              <a href="https://twitter.com/{{ '{{tweet.quoted_status.user.screen_name}}' }}">@{{ '{{tweet.quoted_status.user.screen_name}}' }}</a>
                              <span class="text-right">{{ '{{tweet.retweeted_status.created_at}}' }}</span>                    
                            </h5>
                            <p >{{ '{{tweet.quoted_status.text}}' }}</p>
                          </div>
                        </div>
                        
                      </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-3">
              <table class="table table-sm table-borderless" ng-show="userfriends">
                <thead>
                  <tr class="table-info">
                    <th colspan="2">
                      <div class="row">
                        <div class="col-sm-4">
                            Following
                        </div>
                        <div class="col-sm-8 text-right">
                          Polit
                          <label class="switch">
                            <input type="checkbox" ng-model="allfriends" ng-checked="allfriends"> 
                            <span class="slider round"></span>
                          </label>
                          All
                        </div>
                      </div>                      
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="userfriend in userfriends" ng-if="allfriends || userfriend.pt != 0" ng-class="{'text-muted': (!userfriend.status)}" ng-style="(!userfriend.status) && {'text-decoration':'line-through'}">
                    <td>
                      <a href="" class="btn btn-white p-0" ng-click="togglestatus(userfriend)">
                        <i class="fas" ng-class="{'fa-toggle-off': (!userfriend.status), 'fa-toggle-on': (userfriend.status)}"></i>
                      </a>
                    </td>
                    <td>
                        <b>{{ '{{userfriend.sname}}' }}</b>
                        <span class="badge badge-danger" ng-show="userfriend.pt == 1">(Rep)</span>
                        <span class="badge badge-primary" ng-show="userfriend.pt == -1">(Dem)</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-3">
              <table class="table table-sm table-borderless" ng-show="userlikes">
                  <thead>
                    <tr class="table-info">
                      <th colspan="2">
                          <div class="row">
                          <div class="col-sm-4">
                              Likes
                          </div>
                          <div class="col-sm-8 text-right">
                            Polit
                            <label class="switch">
                              <input type="checkbox" ng-model="alllikes" ng-checked="alllikes"> 
                              <span class="slider round"></span>
                            </label>
                            All
                          </div>
                        </div>                      
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="userlike in userlikes" ng-if="alllikes || userlike.pt != 0" ng-class="{'text-muted': (!userlike.status)}" ng-style="(!userlike.status) && {'text-decoration':'line-through'}">
                      <td>
                        <a href="" class="btn btn-white p-0" ng-click="togglestatus(userlike)">
                          <i class="fas" ng-class="{'fa-toggle-off': (!userlike.status), 'fa-toggle-on': (userlike.status)}"></i>
                        </a>
                      </td>
                      <td>
                        <b>{{ '{{userlike.sname}}' }}</b>
                        <span class="badge badge-danger" ng-show="userlike.pt == 1">(Rep):</span>
                        <span class="badge badge-primary" ng-show="userlike.pt == -1">(Dem):</span>
                        <br />
                        {{ '{{userlike.text}}' }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>

        </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script src="static/js/watchingyouwatchingme.js?20200407-01"></script>

  </body>
</html>
