<!doctype html>
<html lang="en" ng-app="WYWMApp">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/all.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/watchingyouwatchingme.css?20200304-01">

    <title>Watching you... watching me...</title>
  </head>
  <body ng-controller="WYWMController">

      <nav class="navbar navbar-expand-md navbar-dark bg-black mb-4 logo fixed-top" id="wywmnavbar">
          <span class="navbar-brand" href="#"></span>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/"><i>Watching you... watching me...</i></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/influencers"><i>Influencers</i></a>
              </li>
            </ul>
          </div>
        </nav>
    
        <main role="main" class="container" id="wywmmain">
          <div class="row align-items-center">
            <div class="col-12">
              <table class="table table-sm table-borderless">
                <thead>
                  <tr class="table-info">
                    <th>
                        #
                    </th>
                    <th>
                        Influencer
                    </th>
                    <th>
                        Party
                    </th>
                    <th>
                        Rank
                    </th>
                    <th>
                        &nbsp;
                  </th>
                </tr>
                </thead>
                <tbody>
                {% for influencer in data["influencers"] %}
                  <tr class="{{("text-danger" if data["influencers"][influencer].pt == 1 else "text-primary")}}">
                    <td class="align-middle">
                        {{ loop.index0 + 1 }}
                    </td>
                    <td class="align-middle">
                        {{data["influencers"][influencer].name}}
                    </td>
                    <td class="align-middle">
                        {{("Republican" if data["influencers"][influencer].pt == 1 else "Democrat")}}
                    </td>
                    <td class="align-middle">
                        <div class="progress">
                          <div class="progress-bar {{("bg-danger" if data["influencers"][influencer].pt == 1 else "bg-primary")}}" role="progressbar" style="width: {{(data["max"] - data["influencers"][influencer]["lpr"]) / data["max"] * 100 |int}}%" aria-valuenow="{{(data["max"] - data["influencers"][influencer]["lpr"]) / data["max"] * 100 |int}}" aria-valuemin="0" aria-valuemax="100">
                          </div>
                        </div>                  
                    </td>
                    <td class="align-middle">
                      <span class="badge {{("badge-danger" if data["influencers"][influencer].pt == 1 else "badge-primary")}}">
                        {{"%.2f"|format((data["max"] - data["influencers"][influencer]["lpr"]) / data["max"] * 100)}}%
                      </span>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

  </body>
</html>